div {
    color: green;
    font-family: sans-serif;
}
strong {
    /* !imporant used here to demonstrate how it overrides other color specifications */
    color: blue !important;
}
.highlight {
    color: red;
}